<p>client-update-data works!</p>
<div class="page-container">

    <h1>Modifier les données du client</h1>
    <div class="card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nom  </label>
            <input type="text" formControlName="nom">
            @if (form.controls.nom.touched && form.controls.nom.invalid) {
                <small>Le nom est obligatoire.</small>
            }
        </div>

        <div class="form-group">
            <label>Email  </label>
            <input type="email" formControlName="email">
            @if (form.controls.email.touched && form.controls.email.invalid) {
                <small>L'email est invalide.</small>
            }
        </div>
        <div class="form-group">
            <label>Revenu mensuel  </label>
            <input type="number" formControlName="revenuMensuel">
            @if (form.controls.revenuMensuel.touched && form.controls.revenuMensuel.invalid) {
                <small>Revenu mensuel est obligatoire.</small>
            }
        </div>
        <div class="form-group">
            <label>Charges mensuelles  </label>
            <input type="number" formControlName="chargesMensuelles">
            @if (form.controls.chargesMensuelles.touched && form.controls.chargesMensuelles.invalid) {
                <small>Charges mensuelles est obligatoire.</small>
            }
        </div>

        <div class="form-group">
            <label>Situation professionnelle </label>
            <select formControlName="situationProfessionnelle">
                <option value="">choisir une situation..</option>
                @for (situation of situations; track situation) {
                <option [value]="situation">{{situation}}</option>
                }
            </select>
        </div>
        <br>

        <button type="submit" [disabled]="form.invalid">
            Modifier
        </button>
    </form>
</div>
</div>
